html,body{
    height: 100%;
}
body{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        180deg,
        #223333 0%,
        #0085ff  100%
    );
    color: #eee;
}